<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="false"
         convertWarningsToExceptions="false"
         processIsolation="false"
         stopOnFailure="true"
         syntaxCheck="false"
        >
    <testsuites>
        <testsuite name="Test Suite">
            <directory>./cases</directory>
        </testsuite>
    </testsuites>
</phpunit>
